<html>
  <head>
	  <title>GEE Module - NLP Learning</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
	  <div class="w3-container w3-margin-top">
	<div class="w3-container w3-card-4 w3-margin-lef w3-margin-top w3-padding-16">
	<h1>Sentence Sentiment</h1>
	<p>Input some text inside the box below, and the sentiment will be returned</p>
	    <form action="upload" method="POST" enctype="multipart/form-data">
		    <label for="text">Insert Text:</label> <input type="text" name="text" id="text_sentence"><br>
	      <input type="submit" name="submit" value="Submit" onClick="return submitRequest('Sentence')">
	    </form>
	</div>
	<div class="w3-container w3-card-4 w3-margin-lef w3-margin-top w3-padding-16">
	<h1>Stored So Far</h1>
    {% for text_entity in text_entities|sort(attribute='timestamp') %}
      <hr/>
      <p>Text: {{text_entity['text']}}</p>
      <p>Uploaded: {{text_entity['timestamp']}}</p>
      <p>Overall Sentiment: {{text_entity['sentiment']}}</p>
    {% endfor %}
	</div>
	<!--
	<div class="w3-container w3-card-4 w3-margin-lef w3-margin-top w3-padding-16">
	<h1>Article Sentiment</h1>
	<p>Insert an Article, and the data content will return a sentiment</p>
	    <form action="upload" method="POST" enctype="multipart/form-data">
		    <label for="text">Upload Article:</label>
		    <textarea id="text_article" name="text" rows="4" cols="50"></textarea>
	      <input type="submit" name="submit" value="Submit" onClick="return submitRequest('Article')">
	    </form>
	</div>
	<div class="w3-container w3-card-4 w3-margin-lef w3-margin-top w3-padding-16">
	<h1>URL Sentiment</h1>
	<p>Enter a URL that will have its text scraped, and the sentiment returned</p>
	    <form action="analyze-url" method="POST" enctype="multipart/form-data">
		    <label for="text">Insert URL:</label> <input type="text" name="text" id="text_url"><br>
	      <input type="submit" name="submit" value="Submit" onClick="return submitRequest('URL')">
	    </form>
	</div>
	<div class="w3-container w3-card-4 w3-margin-lef w3-margin-top w3-padding-16">
	<h1>File Sentiment</h1>
	<p>Upload a file, and the data content will return a sentiment</p>
	    <form action="analyze-file" method="POST" enctype="multipart/form-data">
		    <label for="text_file">Upload File:</label><input type="file" name="text" id="text_file"><br>
	      <input type="submit" name="submit" value="Submit" onClick="return submitRequest('File')">
	    </form>
	</div>
	-->
	  </div>
	<script type="text/javascript">
	function submitRequest(request_type)
	{
		var response = true;
		var text_input = '';
		if ( request_type == 'Sentence')
		{
			text_input = $('#text_sentence').val().trim();
		}
		// Check whether a value has been provided
		if ( ! text_input || text_input == '' )
		{
			alert("No text");
			response = false;
		}
		return response;
	}
	// When the document is ready
	$( document ).ready(function() {
		// Placholder
	});
	</script>
  </body>
</html> 
